<section class="row issue">
  <ul class="contributors col-md-4">
    <p>Charcuterie 2: future decapitations under posh hats
</p>
    <li>
      <%= link_to "The Empty Husk Condition", empty_husk_path, data: { turbolinks: false } %>
      <p>Fabiola Carranza</p>
    </li>
    <li>
      <%= link_to "Adventures from the Third Bureau", third_bureau_path,  data: { turbolinks: false } %>
      <p>Stacey Ho</p>
    </li>
    <li>
      <%= link_to "The Bus as Hostile Architecture I", bus_I_path, data: { turbolinks: false }%>
      <p>Sungpil Yoon</p>
    </li>
    <li>
      <%= link_to "Snapshots of the 34th Cairo International Film Festival", ciff_selections_path, data: { turbolinks: false }%>
      <p>Steffanie Ling</p>
    </li>
    <li>
      <%= link_to "Troubling Gender Assumptions  in Miranda July’s  'The First Bad Man'", mis_o_path, data: { turbolinks: false }%>
      <p>Maxwell Addington</p>
    </li>
  </ul>
  <div id="issue-two-images" class="col-md-8 carousel slide" data-interval="4000"  data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <!-- <div class="carousel-item">
        <%# image_tag "nook1", class: "img-fluid" %>
      </div>
      <div class="carousel-item">
        <%# image_tag "nook2", class: "img-fluid" %>
      </div> -->
      <div class="carousel-item active">
        <%= image_tag "nook3", class: "img-fluid" %>
      </div>
      <!-- <div class="carousel-item">
        <%# image_tag "nook4", class: "img-fluid" %>
      </div> -->
      <div class="carousel-item">
        <%= image_tag "nook5", class: "img-fluid" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "coach_04", class: "img-fluid" %>
      </div>
      <!-- <div class="carousel-item">
        
      </div>
      <div class="carousel-item">
        <%# image_tag "nook7", class: "img-fluid" %>
      </div> -->
    </div>
    <!-- <a class="carousel-control-prev" href="#issue-one-images" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a> -->
    <!-- <a class="carousel-control-next" href="#issue-two-images" role="button" data-slide="next"> -->
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    <!-- </a> -->
  </div>
</section>
