<main class="container mobile-wrap">
  <h1>Seven Years of Tenderness: Alice Diop's Vers La Tendresse At 2017 DOXA Documentary Film Festival</h1>
  <p class="byline">by Casey Wei</p>
  <%= image_tag "vers", class:"img-fluid mx-auto d-block" %>
    <p class="writer-bio">Casey Wei is an interdisciplinary artist, filmmaker, and musician based in Vancouver. Her practice has evolved from filmmaking
      (Murky Colors in 2012, Vater und Sohn / Father and Son / 父与子 in 2013), into works that cross over between art, music,
      and the community at large (Kingsgate Mall Happenings in 2014, Chinatown Happenings in 2015, the art rock? series 2015-present,
      and the Karaoke Music Video Free Store in 2017). In 2016, she began Agony Klub, a music and printed matter label that
      releases material under the framework of the “popular esoteric”. Her music projects include Kamikaze Nurse, hazy, and
      Late Spring.</p>

    <div class="row">
      <div class="col-12">
        <p>
          <em>Astonishing things happen if one gives oneself over to the process of seeing again and again: aspect after aspect
            of the picture seems to surface, what is salient and what incidental alter bewilderingly from day to day, the
            larger order of the depiction breaks up, re-crystallizes, fragments again, persists like an afterimage. And slowly
            the question arises: What is it, fundamentally, I am returning to in this particular case?
            <br> T.J. Clark, The Sight of Death: An Experiment in Art Writing</em>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p>In the summer of 2010, I was spending time in my studio working on a wall collage. Belabored cutout pieces surrealistically
          and fussily composed together, growing outwards, spread across the wall. It was the summer before I would start
          grad school, and I was trying to reinvent a studio practice after an arduous undergrad experience. Art sentience
          had not yet come; I was still unanchored, foundationless, sitting in a pile of magazines, naively trying to construct
          a visual language that was both historical and my own. I had at least 300 National Geographic magazines at my disposal
          and that day, sitting amidst a working pile of 60 or so, I by chance flipped onto and paused on this spread:</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>I reread it several times—its affect was surprising. I was compelled to rip it out for future examination, but I
          was lazy and a bit weary of that unarticulated ache, so I moved onwards.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>Later, when I did want to return to it, I forgot which issue it was in, and soon I relocated that wall collage, in
          delicate fussy little sections, to my new studio provided through my graduate program. The wall was bigger; I
          worked on it for another eight months but couldn’t find the spread again. We look for meaning when something is
          affectively triggered.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>
          <em>Astonishing things happen if one gives oneself over to the process of seeing again and again.”</em>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>In February 2013, the image surfaced in my thoughts again, and I wrote about it in a Tumblr post:</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>
          <em>there really isn’t an image of tenderness that is approximate to the meaning of the word.
            <br>a few years ago i was working on a collage project after coming into a gigantic load of old national geographics.
            i remember i was in my studio, flipping through an issue, when i came across a feature on the aftermath of the
            Tokyo Metro Sarin Attack in 1995 by members of the cult, Aum Shinrikyo. i can’t remember anything else about
            that issue, how many months or years since the attack had it been? i haven’t been able to track it down. the
            only thing i remember is a photograph of an old man wiping the forehead of his comatose wife with a cloth. the
            caption said something about this action, which he performed every night after coming home from work.(1)</em>
        </p>
      </div>
    </div>
    <div class="row">
        <div class="col-12">
          <%= image_tag "vers1", class:"img-fluid mx-auto" %>
            <p class="image-caption">Stills from Vers la Tendresse, 2016. Directed by Alice Diop</p>
        </div>
      </div>
    <div class="row">
      <div class="col-12">
        <p>It is 2017 now. This week(2), I subscribed to nationalgeographic.com in order to to access their archive. I searched
          ‘Tokyo,’ ‘sarin,’ ‘gas attack,’ ‘subway,’ ‘Japan,’ but was unsuccessful in finding that spread. I was beginning
          to think that I had misremembered the whole thing, but the afterimage was too palpable for that to be true. I anxiously
          wondered about the Mandela effect, the unreliability of collective memory and of my own, until finally I found
          it (!) by re-directing my search for an article about the Iraq War and weapons of mass destruction.(3)</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>We all know that feeling of deflation when we revisit the memory of something from the past to have it falter in
          the present, but what was tenderness then is still tenderness now. And what is tenderness? 1) Gentleness and kindness;
          kindliness; 2) a sensitivity to pain, soreness. I think about the old woman bruising the peach in the grocery store,
          from Juzo Itami’s Tampopo (1985). I think about Pussyfoot and Marc Anthony. I think about Mr. Kouno.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>I have been returning to this word over the years, and so all signs pointed to watching Vers la Tendresse (Towards
          Tenderness), Alice Diop’s 38-min investigation into the politics of love—specifically, who gets to have it?—as
          told by three immigrant French men in Seine-Saint-Denis, at the 2017 DOXA Documentary Film Festival. The blurb
          on the website was careful not to explicitly label these three men, but described them as “dressed in hoodies and
          streetwear, talk[ing] with remarkable bluntness and honesty about love, desire, sex, and race.”(4)</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>The camera cuts between establishing shots of Seine-Saint-Denis, France’s poorest subdivision and site of the 2015
          terrorist attacks, to tightly framed shots of these men’s pensive faces as they are captured existing in their
          everyday. Their voice-overs speak of their personal experiences that have shaped their attitudes towards “love.”</p>
      </div>
    </div>
    <div class="row">
        <div class="col-12">
          <%= image_tag "vers2", class:"img-fluid mx-auto" %>
            <p class="image-caption">Stills from Vers la Tendresse, 2016. Directed by Alice Diop</p>
        </div>
      </div>

    <div class="row">
      <div class="col-12">
        <p>Our first narrator bluntly describes where his attraction to easy women— “hoes” and “sluts”— comes from, and calls
          himself a “slut” as well, admitting that “it takes two sluts to tango.” The second narrator is gay, and speaks
          of the power struggle that is inherent in sodomy; logistically, the physical act excludes the tenderness of face-to-face
          kissing. In this district, the notorious neuf trois, there is no peach to bruise, no cartoon cat and dog, no back
          issues of National Geographic. But Diop offers hope: the final narrator (Anis Rhali) is depicted with his girlfriend
          (Thaniat Satirou) at home in close-up verité-style scenes of cuddling, joking, kissing, sleeping. They make a
          bet on whether or not she will be able to wake up at 6:30am for work—if she does, she gets his undivided attention
          for a whole week, no friends, no other engagements. This wager was made half-jokingly in-between laughter and caresses,
          and the film ends with her getting ready the next morning while he quietly watches her from bed. His voice-over
          concludes that despite being ‘gangster,’ some people find relationships at an early age, and from thereon in are
          always open to the possibility. Anis’s insights seem quite mundane, but its place at the end of the film subtly
          functions as a plot device that flips our understanding of what love fundamentally is. There aren’t any didactic
          answers, as Diop recognizes that one’s feeling towards love is a nuanced and individually specific question that
          cannot be reductively lumped into the two qualitative categories of class and race. But love, L-O-V-E, is a universally
          understood ideal and can be reduced to a gesture as simple as a touch between two bodies, directly experienced
          or vicariously represented. What Vers la Tendresse offers are three case studies, leaving a lot of the specifics
          unanswered in a final attempt to portray a realistically attainable love that is accessible no matter what color,
          what class. Thaniat’s 6:30am wager rang familiar, but also left me uncomfortable. A glimmer of a universal heteronormativity,
          is that the best one can hope for?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>The blurb describes the film as being a “cri du coeur in the most profound sense,” “made with the same type of tensile
          delicacy” as Barry Jenkin’s Moonlight. I struggle to see value in this superficial comparison. Yes, these are both
          films that depict the struggle of being a black man, and in the case of our third narrator, an immigrant, possibly
          a Muslim man. But in directorial intent, cinematic scope, and narrative form, there is not much else to compare
          other than the sometimes jerky, ‘of-the-moment’ camera-work. Visually, Vers la Tendresse bored me. It was a 38-minute
          film that was 20-minutes too long. The interviews conducted with the three men are paired with banal and overused
          actuality-footage tropes: pulled back shots of train tracks, window reflections of a passing street in a moving
          vehicle, a couple in bed. As much as I can linger and revel in the muddy indifference of the world, I found myself
          unmoved. 59
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <%= image_tag "vers3", class:"img-fluid mx-auto" %>
          <p class="image-caption">Stills from Vers la Tendresse, 2016. Directed by Alice Diop</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>It is difficult to feel empathy, tenderness, and love for incomplete characters in incomplete situations. The biggest
          problem I had with the film was its neither here-nor-there-ness. It gave me too much time to dwell on what I didn’t
          know, and what was withheld from me. In a 2016 interview with Another Gaze Journal, Diop describes her filmmaking
          as being “about [the] democratization of knowledge, which passes through a cinematographic emotion and that’s what
          seems to [her] to be perfectly useful and interesting.”(5) Knowledge here has not been made democratic, it is only
          presented as a given, resting on the crutch of the documentary genre. I assume that Diop achieved a level of closeness
          with her subjects, and there are some moments of intimacy that resonate more than others. The camera sits on a
          tripod and captures our first narrator’s darting eyes. The camera follows our second narrator from behind as he
          walks here to there. The camera pulls in and out of focus while our final narrator and his girlfriend make out.
          Let’s be honest: with a good lens, these shots of closeness are quite easy to achieve, and it does not take much
          for a discerning viewer to be able to tell between physical proximity and emotional intimacy. The democratization
          that I recognized in Vers la Tendresse wasn’t that of knowledge, but of technology.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p> The idea of tenderness is open and vulnerable. It is a breathing, beating space in which you can locate your empathy.
          I can project myself into the space of the old woman bruising a peach at a grocery store; I can imagine being both
          Pussyfoot’s obliviously sharp claws and Marc Anthony’s enduring threshold; I can care about the drudgery of the
          everyday in hope of an improbable dream. These are narratives that appeal to one’s capacity for tenderness. I understand
          the exercise of ‘less is more’ in the practice of cinematic language, and Diop gives herself a big question to
          work with, but she fails to construct the context around which we as viewers are able to locate our own subjectivity.
          It seems that Vers la Tendresse is more of a private conversation between her and her subjects than a cri di coeur
          for those of us watching. I’m not sure if I should be pulled closer or pushed back. I’m not sure if she’s telling
          me that the third act is any more fulfilling than the first two. Tenderness is a quiet, intimate thing with an
          afterimage that lingers around for years, possibly a lifetime. This film does not.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="mobile-footnote">
          <em>
            Vers La Tendresse was the recipient of DOXA 2017’s Best Short Documentary award.</em>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p class="mobile-footnote">(1) http://nothingreasons.tumblr.com/post/42331880147</p>
        <p class="mobile-footnote">(2) The week of May 8th,2017.</p>
        <p class="mobile-footnote">(3) Lewis M.Simons“Weapons of Mass Destruction”,National Geographic, November 2002, 2-35.</p>
        <p class="mobile-footnote">(4)“Vers la Tendresse.”Doxafestival.com. http://www.doxafestival.ca/film/ vers-la-tendresse-towards-tenderness (accessed
          May 22 2017).</p>
        <p class="mobile-footnote">(5)“In Conversation with Alice Diop”,Youtube video,posted by Another Gaze Journal, November 7, 2016, https://youtu.be/HnmVK_YRRvU</p>

      </div>
    </div>



    <%= link_to (image_tag 'charc-logo'), root_path, class: 'issue-logo-img'  %>
</main>