<!DOCTYPE html>
<html>
  <head>
    <title>Charcuterie</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js" %>
    <script type="text/javascript">
      Styles.prototype.loadLater('<%= stylesheet_link_tag "alongslide_config.scss" %>')
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
