<!DOCTYPE html>
<html>
  <head>
    <title>Charcuterie</title>
    <meta name="description" content="Charcuterie strives to provide a forum for experimental writing and informed polemics without pedantry. It assembles a polyphony of inquiry and documents the messy landscape of opinion and critique that unravels in close proximity to where we work, live and make art in Vancouver.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js" %>
    <script type="text/javascript">
      // Styles.prototype.loadLater('<%= stylesheet_link_tag "alongslide_config.scss" %>')
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
